<link rel="stylesheet" href="/stylesheets/slider.css">
<img class="headerimage" src="/assets/img/landing/116.png" alt="Could not find"></li>
    <!-- <li><img class="headerimage" src="/assets/img/landing/135.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/17.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/28.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/36.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/72.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/95.png" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/j12.jpg" alt="Could not find"></li>
    <li><img class="headerimage" src="/assets/img/landing/kiminonawa.jpg" alt="Could not find"></li>-->
