<link rel="stylesheet" href="stylesheets/newposts.css">
<% include ../partials/header %>
<% include ../partials/button %>

<section class="displayPosts">
        <p><h2>Top 100 anime Of all Time</h2><hr></p>
<div class="thumbnail">   
        <% animes.forEach(function(post){ %>
        <div class="container">
            <img src="<%=post.image%>" alt="Image Not Found" class="image" style="width:100%">
            <a href="/userPost/<%=post._id%>">
                <i class="fas fa-info-circle fa-4x"></i>
            </a>
            <h2><%= post.name %></h2>
        </div>
        <%}) %> 
</div>
</section>
<% include ../partials/footer %>  
